@media only screen and (max-width:1440px) {

a.nav-link.px-4.text-light {
  font-size: 14px ;
}
a.navbar-brand {
  width: 270px;
}
}










/* -------1920--------- */

@media only screen and (min-width:1920px) {

  .container-fluid {
    width: 1899px;
  }
}



@media (max-width: 769px) {
  .gal {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
  }
}



@media only screen and (max-width:767px) {

a.navbar-brand {
  width: 36% !important;
}
.offcanvas-header {
  background: #000;
}
button.navbar-toggler {
  background: #000;
}
.callsec {
  display: none;
}
button.btn-close.btn-close-white.text-reset {
  color: #fff !important;
}
.headermenusec {
  color: #000;
  
}
br {
  display: none;
}
.mainheadtext {
  padding: 0px 1px;
  float: left;
  margin-top: 0px;
}
.mainheadtext h3 {
  font-size: 35px;
  text-align: left;
  line-height: 45px;
  font-weight: 800;
}
.welmainsec {
  padding: 30px 20px 120px 20px;
}
.welmainsec h3 , .profmainsec h4 , .highmainsec h4{
  font-size: 25px;
}
.welmainsec h2 , .profmainsec h3 , .highmainsec h3 {
  font-size: 35px;
}
.welmainsec p , .profmainsec p , .highmainsec p{
  font-size: 16px;
}
.weimgg {
  padding: 0px 0px 20px 4px;
  margin-left: 0px;
  margin-top: -50px;
}
ul.nav.nav-pills {
  margin-top: 0px;
  padding-left: 0px;
  border-bottom: 1px solid;
  padding: 10px;
}
.secvessecbg {
  padding: 0px 0px 30px 0px;
}
.sechighbgg {
  padding: 50px 10px 0px 10px;
}
.highmainsec p {
  width: 100%;
}
.offtext {
  font-size: 30px;
  text-align: center;
}
.makesecbgg {
  padding: 50px 10px;
}
.awetextmain h4 {
  font-size: 18px;
}
.awetextmain p {
  font-size: 11px;
}
.testimgtext p {
  font-size: 15px;
}
.Testimonial .owl-nav {
  display: none;
}
.testimgtext img {
  width: 33% !important;
}
.tectbgg {
  padding: 50px 10px 50px 10px;
}
.subbgg {
  padding: 50px 10px;
}
.submaibgg {
  padding: 10px 20px 30px 20px;
}
.subtextbold {
  margin-left: 0px;
}
.subtextbold p {
  font-size: 25px;
}
.subtextbold h3 {
  font-size: 30px;
}
.footerbgg {
  padding: 30px 20px 30px 20px;
}

}





















