.headerbagg {
    background-image: url(../images/headerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

a.navbar-brand {
    width: 11% !important;
}

.callsec ul {
    list-style-type: none;
    color: #fff;
    font-family: 'Barlow Condensed';
    padding: 0;
    font-size: 17px;
    font-weight: 500;
}

.clear {
    clear: both;
}

.callsec p {
    margin: 0px;
    padding-left: 40px;
    margin-bottom: -18px;
}

.callsec ul li a {
    padding: 0px !important;
}

.secallnumber {
    color: #B79E6E;
    font-size: 35px;

}

.headermenusec {
    color: #fff;
    font-family: 'Barlow Condensed';
    text-transform: uppercase;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

.headermenusec:hover {
    color: #B79E6E;
}

.headermenusec2btn {
    background: #B79E6E;
    border: 1px solid #B79E6E;
    display: inline-flex;
    padding: 20px 37.18px 20px 37.38px;
    color: #FFF;
    text-align: center;
    font-family: 'Barlow Condensed';
    text-transform: uppercase;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.headermenusec2btn:hover {
    color: #B79E6E;
    background: #fff;
    border: 1px solid #B79E6E;
}

.nav-link:focus {
    color: #B79E6E !important;
}

.mainheadtext {
    padding: 0px 100px;
    float: right;
    margin-top: -73px;
}

.mainheadtext h3 {
    font-family: 'Barlow Condensed';
    text-transform: uppercase;
    font-size: 85px;
    color: #B79E6E;
    font-weight: 600;
    text-align: right;
    line-height: 90px;
}

.secblbgwe {
    background: #231F22;
    padding: 0;
}

.welmainsec {
    padding: 60px 120px 0px 90px;
}

.welmainsec h3 {
    font-family: 'Aguafina Script';
    color: #B79E6E;
    font-size: 35px;
}

.welmainsec h2 {
    font-family: 'Barlow Condensed';
    color: #fff;
    font-size: 50px;
}

.welmainsec p {
    font-family: 'Barlow';
    color: #fff;
    font-size: 18px;
}

.wenbtnmai a {
    font-family: 'Barlow Condensed';
    color: #231F22;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 25px;
    background: rgb(180, 147, 58);
    background: linear-gradient(90deg, rgba(180, 147, 58, 1) 0%, rgba(249, 238, 159, 1) 50%, rgba(179, 148, 53, 1) 100%);
}

.wenbtnmai a:hover {
    background: rgb(249, 238, 159);
    background: linear-gradient(90deg, rgba(249, 238, 159, 1) 0%, rgba(179, 148, 53, 1) 51%, rgba(249, 238, 159, 1) 100%);
}

.weimgg {
    padding: 80px 60px 20px 60px;
    margin-left: -150px;
}

.secvessecbg {
    padding: 0px 0px 60px 0px;
}

.secrsevbghov {
    background: #231F22;
    padding: 80px 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.secrsevbghov2 {
    background: #CFB481;
    padding: 80px 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.secrsevbghov a {
    text-decoration: none;
    text-align: center;
}

.secrsevbghov a h4 {
    font-family: 'Barlow Condensed';
    color: #fff;
    font-size: 18px;
    padding-top: 10px;
}

.imgsechover {
    background-image: url(../images/sericon1whit.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 86px;
    height: 78px;
    background-position: center;
    margin: auto;
}

.secrsevbghov:hover {
    background: #CFB481;
}

.secrsevbghov:hover a .imgsechover {
    background-image: url(../images/sericon1black.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.secrsevbghov:hover a h4 {
    color: #000;
}

.imgsechover2 {
    background-image: url(../images/sericon2black.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 86px;
    height: 78px;
    background-position: center;
    margin: auto;
}

.secrsevbghov2 a h4 {
    font-family: 'Barlow Condensed';
    color: #000;
    font-size: 18px;
    padding-top: 10px;
}

.secrsevbghov2 a {
    text-decoration: none;
    text-align: center;
}

.secrsevbghov2:hover a .imgsechover2 {
    background-image: url(../images/sericon2whit.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.secrsevbghov2:hover {
    background: #231F22;
}

.secrsevbghov2:hover a h4 {
    color: #fff;
}

.sectabrigrt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebsec {
    height: 50%;
}

.imgsechover3 {
    background-image: url(../images/sericon3black.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 86px;
    height: 78px;
    background-position: center;
    margin: auto;
}

.secrsevbghov2:hover a .imgsechover3 {
    background-image: url(../images/sericon3whit.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.imgsechover4 {
    background-image: url(../images/sericon4whit.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 86px;
    height: 78px;
    background-position: center;
    margin: auto;
}

.secrsevbghov:hover a .imgsechover4 {
    background-image: url(../images/sericon4black.png);
    background-repeat: no-repeat;
    background-size: cover;
}

ul.nav.nav-pills {
    margin-top: -70px;
    padding-left: 180px;
}

ul.nav.nav-pills li a {
    font-family: 'Barlow Condensed';
    color: #000;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 25px;
    margin-left: 20px;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(180, 147, 58, 1) 0%, rgba(249, 238, 159, 1) 50%, rgba(179, 148, 53, 1) 100%);
    display: inline-block;
}

ul.nav.nav-pills li.active a {
    background: #fff;
}

.profmainsec h4 {
    font-family: 'Aguafina Script';
    color: #B79E6E;
    font-size: 35px;
}

.profmainsec h3 {
    font-family: 'Barlow Condensed';
    color: #231F22;
    font-size: 50px;
    font-weight: 600;
}

.profmainsec p {
    font-family: 'Barlow';
    color: #231F22;
    font-size: 18px;
}

.probtnsec {
    padding: 30px 0px 60px 0px;
}

.probtnsec a {
    font-family: 'Barlow Condensed';
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    background: #231F22;
    border: 1px solid #231F22;
    text-decoration: none;
    padding: 10px 20px;
}

.probtnsec a:hover {
    color: #231F22;
    border: 1px solid #231F22;
    background: #fff;
}

.teamsecbox {
    border: 1px solid #DFE5E5;
    border-bottom: 6px solid #DFE5E5 !important;
    padding: 20px 30px 0px 30px;
    margin-bottom: 40px;
}

.teamsecbox h3 {
    font-family: 'Barlow';
    color: #231F22;
    font-size: 20px;
    padding-top: 10px;
    text-transform: uppercase;
}

.teamsecbox p {
    font-family: 'Barlow';
    color: #9E9C9F;
    font-size: 15px;
}

.teamsecbox p a {
    font-family: 'Barlow Condensed';
    color: #B79E6E;
    font-size: 19px;
    text-decoration: none;
}

.sechighbgg {
    background-image: url(../images/highimgbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 30px 0px 30px;
}

.highmainsec h4 {
    font-family: 'Aguafina Script';
    color: #B79E6E;
    font-size: 35px;
    text-align: center;
}

.highmainsec h3 {
    font-family: 'Barlow Condensed';
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.highmainsec p {
    font-family: 'Barlow';
    color: #fff;
    text-align: center;
    font-size: 18px;
    width: 66%;
    margin: auto;
}

.highbtnsec {
    text-align: center;
    padding-top: 50px;
}

.highbtnsec a {
    font-family: 'Barlow';
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(180, 147, 58, 1) 0%, rgba(249, 238, 159, 1) 50%, rgba(179, 148, 53, 1) 100%);
    padding: 10px 20px;
}

.highbtnsec a:hover {
    background: linear-gradient(90deg, rgba(249, 238, 159, 1) 0%, rgba(179, 148, 53, 1) 51%, rgba(249, 238, 159, 1) 100%);
}

.brandnainsec {
    display: flex;
}

.makesecbgg {
    background-image: url(../images/makebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 10px;
}

.offtext {
    font-family: 'Montserrat';
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    text-align: right;
}

.offtext a {
    font-weight: 400 !important;
    color: #afafae !important;
    text-transform: uppercase;
}

.awetextmain p {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    color: #E6E1D5;
}

.awetextmain h4 {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #B79E6E;
}

.awtbtnsec a {
    font-family: 'Montserrat';
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color: #CCB485;
    text-decoration: none;
    background: #000;
    padding: 12px 20px;
}

.awtbtnsec a:hover {
    background: #CCB485;
    color: #fff;
}


/* gallery */


* {
    -webkit-transition: all 0.4s ease-out !important;
    -moz-transition: all 0.4s ease-out !important;
    -ms-transition: all 0.4s ease-out !important;
    -o-transition: all 0.4s ease-out !important;
    transition: all 0.4s ease-out !important;
}

/* MANSONRY */

.gal {
    margin-top: 0rem;
    padding: 0rem;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    column-gap: 0px;
}

.gal img {
    height: auto;
}

.img-hover-zoom {
    padding: 0px 0;
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
    width: 100%;
}

.img-hover-zoom--zoom-n-rotate img {
    transition: transform .5s ease-in-out;
}

.img-hover-zoom--zoom-n-rotate:hover img {
    transform: scale(1.6) rotate(25deg);
}

.gallerybgg {
    background: #161616;
    padding: 50px 0px 60px 0px;
}

.galleybtnsec {
    text-align: center;
    padding-top: 50px;

}

.galleybtnsec a {
    font-family: 'Barlow Condensed';
    background: #B4933A;
    background: linear-gradient(to right, #B4933A 0%, #F9EE9F 50%, #B39435 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 12px 50px;
    border: 2px solid #B39435;

}

.galleybtnsec a:hover {
    border: 2px solid #fff;
}

.teambgg {
    background-image: url(../images/teambggg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 10px;
}
.team2bgg{
    background: #1E1E1E;
    margin-top: 30px;
}
.teamtextsec{
    padding: 30px 30px;
    text-align: center;
}
.teamtextsec h3{
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    color: #CFB481;
} 
.teamtextsec h4{
    font-family: 'Source Sans 3';
    font-size: 16px;
    font-weight: 400;
    color: #767676;
}
.teamtextsec p{
    font-family: 'Source Sans 3';
    font-size: 16px;
    font-weight: 400;
    color: #B2B2B2;
}
.socialiconte{
    display: flex;
    justify-content: center;
}
.socialiconte p  {
    padding-right: 30px;
}
.socialiconte p a {
    background-color: #41413F;
    padding: 10px 12px;
    border-radius: 5px;
}
.socialiconte p a:hover {
    background-color: #CFB481;
    padding: 10px 12px;
    border-radius: 5px;
}
.socialiconte p a i{
    color: #fff;
    font-size: 20px;
}
.tectbgg{
    background: #FFE6DE;
    padding: 70px 10px 180px 10px;
    text-align: center;
}
.testimgtext img{
    width: 8% !important;
    margin: auto;
}
.testimgtext h3{
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #B79E6E;
}
.testimgtext h4{
    font-family: 'Source Sans 3';
    font-size: 15px;
    font-weight: 300;
    color: #9E9C9F;
}
.testimgtext p{
    font-family: 'Barlow';
    font-size: 20px;
    color: #231F22;
}
.Testimonial .owl-nav {
    position: relative;
    z-index: 10;
    margin-top: -140px;
}
.Testimonial button.owl-prev {
    float: left;
}
.Testimonial button.owl-next{
float: right;
}
.Testimonial button.owl-prev span{
    font-size: 37px;
    background-color: rgb(251 195 178);
    padding: 0px 25px 10px 25px;
  
}
.Testimonial button.owl-next span{
    font-size: 37px;
    background-color: rgb(251 195 178);
    padding: 0px 25px 10px 25px;
}
.subbgg{
    background-image: url(../images/SubscribeIMG.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}
.submaibgg{
    background: #FFE9BE;
    padding: 50px 70px;
}
.subtextbold{
    margin-left: -375px;
}
.subtextbold p{
    font-family: 'Aguafina Script';
    color: #B79E6E;
    font-size: 35px;
    text-align: center;
    margin: 0;
}
.subtextbold h3{
    font-family: 'Barlow Condensed';
    color: #000;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.subscribe-wrapper input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    width: 66%;
    margin-top: 20px;
}
.subsribe-btn {
    padding-top: 30px;
}
.subsribe-btn a{
    padding: 12px 30px;
    color: #231F22;
    background: linear-gradient(90deg, rgba(180, 147, 58, 1) 0%, rgba(249, 238, 159, 1) 50%, rgba(179, 148, 53, 1) 100%);
    text-decoration: none;
    font-family: 'Barlow Condensed';
    font-size: 20px;
    font-weight: 500;
}

/* back to top */
#button {
    display: inline-block;
    background: rgb(180, 147, 58);
    background: linear-gradient(90deg, rgba(180, 147, 58, 1) 0%, rgba(249, 238, 159, 1) 50%, rgba(179, 148, 53, 1) 100%);
    text-decoration: none;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility:hidden;
    z-index: 1000;
}

#button::after {
    content: "\f062";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #231F22;
}

#button:hover {
    cursor: pointer;
    background: rgb(249, 238, 159);
    background: linear-gradient(90deg, rgba(249, 238, 159, 1) 0%, rgba(179, 148, 53, 1) 51%, rgba(249, 238, 159, 1) 100%);
}

#button:active {
    background: rgb(249, 238, 159);
    background: linear-gradient(90deg, rgba(249, 238, 159, 1) 0%, rgba(179, 148, 53, 1) 51%, rgba(249, 238, 159, 1) 100%);
}

#button.show {
    opacity: 1;
    visibility: visible;
}







@media (max-width: 769px) {
    .gal {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}





























